.footer-background{
    background-color:#1ab9a7 !important;
    color: white;
    background: url("http://localhost:3000/contact_map.png") no-repeat 90% 90px;
}

.top-menu-head{
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
    font-weight: 500;
    font-size: 20px;
    text-align: right;
    width: 100%;
    background-color: #1ab9a7 !important;
}

.cursor-pointer{
    cursor: pointer;
}

.pad-top-bottom-150{
    padding-top: 150px;
    padding-bottom: 150px;
}
.pad-top-20{
    padding-top: 20px;
}

.surveyape-button{
    color: white;
    background-color: black;
    padding: 8px;
}

.margin-20{
    margin: 20px;
}

.sign-up-head{
    font-size: 20px;
    font-weight: 700;
}

.surveyape-input{
    background: none;
    height: 40px !important;
    background-color: #fbfbfb !important;
    border: 2px solid #d5d5d5 !important;
    border-radius: 0 !important;
    -webkit-appearance: none !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-transition: none;
    color: #999;
    height: 44px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 25px;
    font-family: 'Open Sans', Arial, sans-serif !important;
    line-height: 1.428571429;
    padding: 6px 12px;
}

.margin-70{
    margin: 50px;
}

.text-align-left{
    text-align: left;
}
.text-align-right{
    text-align: right;
}
.padding-left-25{
    margin: 10px;
}

.heighht-survey-logo{
    height: 31px;
}

.back-img{
    width: 100%;
    height: 600px;
}

.stat-heading{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}
.stat-data{
    font-size: 30px;
    font-style: italic;
    text-align: center;
}

.padd-200{
    padding-bottom: 200px;
}
.box-shadow-surveyape{
    box-shadow: 0 0 4px rgba(0,0,0,.2), inset 0 0 0 rgba(0,0,0,.1);
}
.div-head{
    height: 500px;
    margin: 65px;
}
.italic-survey{
    font-style: italic;
    font-size: 18px;
}
.surveyname-head{
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
}

.margin-none{
    margin-right: 0px !important;
    margin-left: 0px !important;

}

.img-height{
    height: 100px;
}

.height-fixed{
    height: 800px;
}

.pad-8{
    padding: 8px;
}